.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff; /* Optional: Add a background color to the header */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 150px;
  height: auto;
  max-width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-img {
    width: 100px;
  }
}
